<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hello World Player</title>
    </head>
    <body>
        <% if (videoSrc) { %>
            <video id="<%= videoId %>" controls>
                <source src="/video/<%= videoSrc %>" type="<% videoTypeFile %>" />
            </video>
        <% } if (audioSrc) { %>
            <audio id="<%= audioId %>" controls>
                <source src="/audio/<%= audioSrc %>" type="<% audioTypeFile %>" />
            </audio>
        <% } if (!audioSrc && !videoSrc) { %>
            <h1>Hello World Player</h1>
        <% } if (imgSrc) { %>
            <img src="/img/<%= imgSrc %>" alt="Hello World Image" id="<%= posterId %>" />
        <% } %>
    </body>
</html>