<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hello World Player</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <% if (videoSrc) { %>
            <section class="video_content">
                <h1>Hello World Video</h1>
                <video id="<%= videoId %>" controls>
                    <source src="/video/<%= videoSrc %>" type="<% videoTypeFile %>" />
                </video>
                <button id="videoCancel" onclick="document.getElementById('<%= videoId %>').src = '/video/cancel.mp4';">
                    Cancel Video
                </button>
            </section>
        <% } if (audioSrc) { %>
            <section class="audio_content">
                <h1>Hello World Audio</h1>
                <audio id="<%= audioId %>" controls>
                    <source src="/audio/<%= audioSrc %>" type="<% audioTypeFile %>" />
                </audio>
                <button id="audioCancel" onclick="document.getElementById('<%= audioId %>').src = '/audio/cancel.mp3';">
                    Cancel Audio
                </button>
            </section>
        <% } if (!audioSrc && !videoSrc) { %>
            <h1>Hello World Player</h1>
        <% } if (imgSrc) { %>
            <img src="/img/<%= imgSrc %>" alt="Hello World Image" id="<%= posterId %>" />
        <% } %>

        <table id="playlist_table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>URL</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </body>
</html>